@import "tailwindcss";

:root {
  --bhumi-green: #183d2b;
  --bhumi-dark: #101713;
  --bhumi-ivory: #f7f5ef;
  --bhumi-white: #ffffff;
  --bhumi-muted: #7b8178;
  --bhumi-olive: #71815b;
  --bhumi-border: #deded6;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: var(--bhumi-ivory);
  color: var(--bhumi-dark);
  font-family: Arial, Helvetica, sans-serif;
}

button,
input,
textarea,
select {
  font: inherit;
}

::selection {
  background: var(--bhumi-green);
  color: white;
}
.clip-india {
  clip-path: polygon(
    44% 0%,
    58% 5%,
    68% 15%,
    75% 25%,
    82% 35%,
    79% 45%,
    87% 55%,
    79% 64%,
    73% 72%,
    68% 82%,
    58% 92%,
    50% 100%,
    43% 91%,
    37% 82%,
    28% 74%,
    22% 64%,
    17% 53%,
    22% 42%,
    18% 32%,
    27% 23%,
    33% 13%,
    38% 5%
  );
}